extends layout

block content
    .page-header
        h3 All Search Results
        if searches
            ul.text-capitalize 
                for search in searches
                    li= search.booktitle
                        ul= search.authorname
                        
    p.lead Search Book in our Database
        form(role='form', method="POST", style='max-width: 300px;')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
                label(for='booktitle') By Book Title
                input.form-control(type='text', name="booktitle", placeholder='Enter Book Title', autofocus)
            .form-group
                label(for= 'authorname') By Name of Author
                input.form-control(type='text', name="authorname", placeholder='Enter Name of Author', autofocus)
            .form-group
                label(for= 'isbn') By ISBN
                input.form-control(type='text', name="isbn", placeholder='Enter ISBN', autofocus)
            button.btn.btn-primary(type='submit') Search Book

